body{
  text-align: center;
  background: black;
  color: white;
  font-family: 'Forum', cursive;
}

/*Just the heading*/
h1{
  font-size: 5rem;
  margin-top: 2rem;
  font-family: 'Arima Madurai', cursive;
}

/*temperature and humidity*/
.data{
  font-size: 2rem;
  display: inline-block;
}

/*description word*/
#desc{
  font-size: 2rem;
}

/*button for unit: C or F*/
#tempunit{
  background: black;
  color: #898b8e;
  border: black;
}

#tempunit:hover {
    color: #687384;
    cursor: pointer;
}

#city{
  font-size: 2rem;
}

#country{
  font-size: 2rem;
}

/* INDIVIDUAL icons.*/
#cloud{
  visibility: hidden;
  position: absolute;
}
#sun{
  visibility: hidden;
  position: absolute;
}
#rain{
  visibility: hidden;
  position: absolute;
}
#thunder{
  visibility: hidden;
  position: absolute;
}
#snow{
  visibility: hidden;
  position: absolute;
}

#mist{
  visibility: hidden;
  position: absolute;
}


